{{#navbar}}
<nav class="navbar navbar-{{{type}}} navbar-expand-lg bg-dark" role="navigation">
  <a class="navbar-brand" href="{{#site}}{{root}}{{/site}}index.html">{{title}}</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbar" class="navbar-collapse collapse">
    {{#left}}
    <ul class="navbar-nav mr-auto">
      {{{.}}}
    </ul>
    {{/left}}
    {{#right}}
    <ul class="navbar-nav navbar-right">
      {{{.}}}
    </ul>
    {{/right}}
  </div><!--/.nav-collapse -->
</nav><!--/.navbar -->
{{/navbar}}
